page-login {
  .login-content {
    background-color: $theme-color-2;
  }

  .button-dark {
    background-color: $theme-color-3;
  }

  .forgot-button {
    color: white;
  }

  .signup-button {
    color: white;
  }

}
