near-header {
  .grid-column-active {
    background-color: $dark;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
    font-size: 18px;
    padding: 5px;
    text-align: center;
  }
  .grid-column-pasive {
    background-color: $dark;
    color: #000;
    font-size: 18px;
    padding: 5px;
    text-align: center;
  }
}
